<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WSUSDiagAgent.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

  <log4net >
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender, log4net">
      <file type="log4net.Util.PatternString" value="${ALLUSERSPROFILE}\Application Data\SolarWinds\DiagnosticTool\DiagnosticTool.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <root>
      <level value="ERROR"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  
  <runtime>
    <enforceFIPSPolicy enabled="false"/>
  </runtime>
    
  <userSettings>
        <WSUSDiagAgent.Properties.AppSettings>
              <setting name="WindowX" serializeAs="String">
                    <value>200</value>
              </setting>
              <setting name="WindowY" serializeAs="String">
                    <value>200</value>
              </setting>
              <setting name="RestoreWindowLoc" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="SoftwareGraphicsOverride" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="ShowDebugWindowOnError" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="TabDates" serializeAs="String">
                    <value />
              </setting>
              <setting name="HideScriptErrors" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="LoggingLevel" serializeAs="String">
                    <value>2</value>
              </setting>
              <setting name="ShowTrayNotifications" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="ProxyAddress" serializeAs="String">
                    <value />
              </setting>
              <setting name="ProxyPassword" serializeAs="String">
                    <value />
              </setting>
              <setting name="ProxyUsername" serializeAs="String">
                    <value />
              </setting>
              <setting name="UseProxy" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="ProxyWithAuthorization" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="WebUrl" serializeAs="String">
                    <value>http://downloads.solarwinds.com/solarwinds/Release/Toolset/WsusErrorCodes.xml</value>
              </setting>
        </WSUSDiagAgent.Properties.AppSettings>
    </userSettings>
</configuration>